# Python
__pycache__/
*.pytest_cache/
*.pyc
*.pyo
*.egg-info/
dist/
.venv/

# Node
node_modules/
dist/

# Environment
.env

# Database
*.sqlite3

# IDE
.idea/
.vscode/
*.swp

# Docker
postgres_data/

# OS
.DS_Store
